html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 5px;
  padding: 3px;
}

body {
  background-color: teal;
  margin: 0px;
  padding: 0px;
}
ul {
  list-style-image: url(./components/ContactList/image/social-group.svg);
}

button {
  background-color: whitesmoke;
  padding: 1px 2px;
  border-style: double;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: lightcoral;
  outline: none;
}

form {
  width: 280px;
  border-style: double;
}
